<div class="row section">
  <div class="col s8 offset-s2">
    <div class="card hoverable">
      <div class="card-content">
        <div class="card-title center">記事を編集する</div>
        <%= form_with(url: "/blogs/#{@blog.id}", method: :PATCH, local: true) do |form| %>
          <div class="row">
            <div class="input-field col s12">
              <%= form.text_field :title, :value => @blog.title %>
              <label for="autocomplete-input">タイトル</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 " id="froala_field">
              <%= form.text_area :text, id: "textarea", :value => @blog.text %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn waves-effect waves-light btn-large orange darken-1" type="submit" name="action">更新</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
$(document).on('turbolinks:load', function(){
  $("#froala_field").empty();
  
  var froala_text_area = `<textarea id='textarea' name='text' style='disolay: none;'><%= @blog.text %></textarea>`
  $("#froala_field").append(froala_text_area);

  var editor = new FroalaEditor('#textarea', {toolbarInline: false,
    toolbarButtons: ['undo', 'redo' , '|', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'outdent', 'indent', 'clearFormatting', 'insertTable', 'html'],
    toolbarButtonsXS: ['undo', 'redo' , '-', 'bold', 'italic', 'underline'],
    heightMin: 200,
    heightMax: 300
  })
});
</script>