<div class="row section">
  <div class="col s8 offset-s2">
    <div class="card hoverable">
      <div class="card-content">
        <div class="card-title center">記事を投稿する</div>
        <%= form_with(url: blogs_path, local: true) do |form| %>
          <div class="row">
            <div class="input-field col s12">
              <%= form.text_field :title %>
              <label for="title">タイトル</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12" id="froala_field">
              <%= form.text_area :text, id: "textarea" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn waves-effect waves-light btn-large orange darken-1" type="submit" name="action">投稿</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
$(document).on('turbolinks:load', function(){
  // 一度テキストフィールドを削除しないと、戻る/進むをした時にフィールドが２重に生成されてしまう

  // froalaのテキストフィールド以下を一度削除する
  $("#froala_field").empty();

  // froalaを生成するためのtextareaを再度追加する
  // 実際のfroalaのテキストフィールドはこのタグより上に生成されている
  // なので、この一段階上のid=froala_fieldにもう一度textareaをくっつける
  var froala_text_area = "<textarea id='textarea' name='text' style='disolay: none;'></textarea>"
  $("#froala_field").append(froala_text_area);

  // 再度くっつけたtextareaにfroalaを当てる
  var editor = new FroalaEditor('#textarea', {toolbarInline: false,
    toolbarButtons: ['undo', 'redo' , '|', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'outdent', 'indent', 'clearFormatting', 'insertTable', 'html'],
    toolbarButtonsXS: ['undo', 'redo' , '-', 'bold', 'italic', 'underline'],
    heightMin: 200,
    heightMax: 300
  })
});
</script>
