<div class="row section">
  <div class="col s8 offset-s2">
    <div class="card hoverable">
      <div class="card-content">
        <div class="card-title center">記事を更新しました</div>
        <div class="spacer"></div>
        <div class="card-action center">
          <div class="spacer"></div>
          <%= link_to "トップへ戻る", root_path, class: "waves-effect waves-light btn-large" %>
        </div>
      </div>
    </div>
  </div>
</div>
