.new_post{
  font-size: 30px;
}

.spacer{
  height: 50px;
}
.spacer_half{
  height: 25px;
}

.paginate_center{
  text-align:center;
}

.left_space{
  padding-left: 30px;
}

#textarea{
  height: 200px;
}